h1{
	text-align: center;
	font-size: 50px;
	color: #FFAE42;
}
nav{
	list-style: none;
	padding: 0;
	margin: 0;
}
nav li{
	display: inline-block;
	margin-right: 10px;
}
nav a{
	text-decoration: none;
	color: #yellow;
	padding: 5px 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
}
nav a:hover{
	background-color: #007bff;
	color: #fff;
}
img{
	border-radius: 5px;
}

/* Your CSS Code here. */